img{max-width: 100%;}
.modal { 
    position: fixed; 
    top: 3%; 
    right: 3%; 
    left: 3%; 
    width: auto; 
    margin: 0; 
}
.modal-body { 
    height: 80%; 
}
.modal-body { 
    max-height: 350px; 
    padding: 15px; 
    overflow-y: auto; 
    -webkit-overflow-scrolling: touch; 
 }
.karta{border: 1px solid #000; padding-bottom: 25px; margin-bottom: 20px;}

@media screen and (min-width: 992px){
.karta {
    width: 24.5%;
    display: inline-block;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px){
.karta {
    width: 32%;
    display: inline-block;
    }
}
@media screen and (min-width: 480px) and (max-width: 767px){
.karta {
    width: 49.5% !important;
    display: inline-block;
    }
}
@media screen and (max-width: 479px){
.karta {
    width: 100% !important;
    display: inline-block;
     padding:40px;
     border:none;
    }
 .card-body{
      padding-bottom: 40px; 
      border-bottom: 1px solid #000;
    }  
}

.przycisk{text-align: center;}
.collapse.in{text-align: -webkit-center;}
.list-group{text-align: center;}
.card-body{text-align: center;}
.card-title{margin-top: 15px !important;}
h5{font-size: 32px !important;}
.row{text-align: center;}
.container{padding-top: 90px; padding-bottom: 90px;}
.btn-primary{background-color: #558451;}
